<div class="dialog-container">
  <h2 mat-dialog-title>Add Customer</h2>
  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <div class="input-group">
        <mat-icon class="input-icon">person</mat-icon>
        <input type="text" id="name" class="form-control" formControlName="name" required>
      </div>
      <div *ngIf="customerForm.get('name')?.hasError('required')" class="text-danger">Name is required.</div>
    </div>

    <div class="form-group">
      <label for="dateOfBirth">Date of Birth</label>
      <div class="input-group">
        <mat-icon class="input-icon">calendar_today</mat-icon>
        <input type="date" id="dateOfBirth" class="form-control" formControlName="dateOfBirth" required>
      </div>
      <div *ngIf="customerForm.get('dateOfBirth')?.hasError('required')" class="text-danger">Date of Birth is required.</div>
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <div class="input-group">
        <mat-icon class="input-icon">transgender</mat-icon>
        <select id="gender" class="form-control" formControlName="gender" required>
          <option value="" disabled selected>Select Gender</option>
          <option [value]="0">Male</option>
          <option [value]="1">Female</option>
        </select>
      </div>
      <div *ngIf="customerForm.get('gender')?.hasError('required')" class="text-danger">Gender is required.</div>
    </div>

    <div mat-dialog-actions>
      <button mat-button type="button" class="btn btn-secondary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon> Cancel
      </button>
      <button mat-button type="submit" class="btn btn-primary" [disabled]="customerForm.invalid">
        <mat-icon>add</mat-icon> Add Customer
      </button>
    </div>
  </form>
</div>
